@font-face
  font-family Roboto
  src url(/assets/fonts/Roboto/Regular/Roboto.eot) /* IE9 Compat Modes */
  src url(/assets/fonts/Roboto/Regular/Roboto.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
      url(/assets/fonts/Roboto/Regular/Roboto.woff) format('woff'), /* Pretty Modern Browsers */
      url(/assets/fonts/Roboto/Regular/Roboto.woff2) format('woff2'), /* Pretty Modern Browsers */
      url(/assets/fonts/Roboto/Regular/Roboto.ttf)  format('truetype'), /* Safari, Android, iOS */
      url(/assets/fonts/Roboto/Regular/Roboto.svg) format('svg') /* Legacy iOS */