doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name="description" content="Description")
    title About – MyProject
    block head

  body
    .wrapper
      include ../blocks/header/header
      .content-wrapper
        section.container
          span THAT'S ABOUT PAGE
    include ../blocks/footer/footer


    block script