.about
  margin 10px 0px
  padding 10px
  border 1px solid $primary-color
  border-radius 5px
  background-color rgba(68, 76, 224, 0.1)
  font-family $mySecondFont
  font-weight 500
  height calc(100vh - 220px)