header
  min-height 100px
  padding 10px
  font-weight 500
  background-color rgba(136, 84, 208, 0.1)
  background-image url(/assets/img/icon/webpack-icon.png)
  background-size 77px
  background-position right center
  background-repeat no-repeat
  border 1px solid $purple-color
  border-radius 5px

a
  padding: 0 10px