header
  border: 1px solid $purple-color
  border-radius: 5px
  background-color: rgba(136, 84, 208, 0.15)
  font-family: $mainFont
  font-weight: 500

a
  padding: 0 10px
  text-decoration: none
  &:active, &:hover
    outline: 0