header
  padding 10px
  border 1px solid $purple-color
  border-radius 5px
  background-color rgba(136, 84, 208, 0.1)
  font-family $mySecondFont
  font-weight 500
  height 100px

a
  padding: 0 10px
  text-decoration: none
  &:active, &:hover
    outline: 0