@import "utils/vars"
@import "utils/mixins"

.visually-hidden
  position absolute
  white-space nowrap
  width 1px
  height 1px
  overflow hidden
  border 0
  padding 0
  clip rect(0 0 0 0)
  clip-path inset(50%)
  margin -1px

header, main, footer,
div, article, section,
table, tr, td,
p, ul,
form, input, button
  box-sizing border-box

@import "styl/*"