block vars
  include utils/vars.pug

doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    title #{myTitle}
    block metatags
      meta(name="description" content=Description)
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
    block links
      link(href="https://necolas.github.io/normalize.css/latest/normalize.css", rel="stylesheet")
      //- app.css подключен через Webpack

  body
    include pug/header.pug
    block content
    include pug/footer.pug

    block script