.content-wrapper {
  border: 1px solid rgb(3, 169, 244);
  border-radius: 5px;
  background-color: rgba(3, 168, 244, 0.15);
  margin: 10px 0;
  h1 {
    font-size: rem(20);
  }
}

#promo {
  text-align: center;
}